/* 0 - Geral */
:root {
    --preto-cabecalho: rgb(32, 32, 32);
    --fundo-tipos: rgb(233, 229, 217);
    --cafe-paulista: rgb(81, 36, 0);
    --cafe-carioca: rgb(217, 114, 50);
    --cafe-mineiro: rgb(232, 167, 68);
    --fundo-newsletter: rgb(233, 229, 217);
}

/* font-family: Georgia, serif */

/* 1 - Header */
header {
    height: 80px;
    width: 100vw;
    background-color: var(--preto-cabecalho);
}

.icon {
    position: relative;
    top: 23%;
    left: 200px;
}

.menu li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
    top: -15px;
    left: 850px;
}

.menu li a {
    font-size: 1.15em;
    font-family: Georgia, serif;
    text-decoration: none;
    color: white;
}

.menu li a:hover{
    border-bottom: solid 3px white;
}

/* 2 - Section 1 */

.inicio {
    background-image: url(../img/bg-intro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 70vh;
}

.inicio__bloco {
    display: block;
    position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
}

.inicio__titulo {
    color: white;
    font-family: Georgia, serif;
    font-size: 3.2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    width: 560px;
}

.inicio__dash {
    display: block;
    height: 4px;
    width: 20px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.inicio__descricao {
    color: white;
    font-family: serif;
    font-size: 1.3em;
    text-align: center;
}

/* 3 - Section 2 */
.cafe {
    display: block;
    width: 70vw;
    margin: 0 auto;
    height: 85vh;;
}

.cafe__titulo {
    text-align: center;
    font-size: 2.3em;
    font-family: Georgia;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
}

.img1__img , .img2__img {
    height: 200px;
    width: 460px;
}

.img1__legenda , .img2__legenda {
    display: block;
    background-color: var(--preto-cabecalho);
    height: 50px;
    width: 200px;
    position: relative;
    top: -30px;
    text-align: center;
    font-family: serif;
    font-size: 2.5em;
    color: white;
}

.cafe__img2 {
    position: relative;
    left: 490px;
    top: -253px;
}

.cafe__descricao {
    width: 450px;
    margin: 0 auto;
    position: relative;
    top: -200px;
    text-align: center;
    font-family: serif;
    font-size: 1.25em;
}

/* 4 - Section 3 */
.tipos {
    background-color: var(--fundo-tipos);
    height: 70vh;
}

.lista-cafes{
    width: 75vw;
    margin: 0 auto;
}

.lista-cafes li {
    display: inline-block;
    text-align: center;
    position: relative;
    top: 60px;
}

.lista-cafes__bola {
    display: block;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    margin-top: 5px;
}

.lista-cafes__contorno {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    border: solid 10px;
    position: relative;
    left: 85px;
}

.paulista__bola {
    background-color: var(--cafe-paulista);
}

.paulista__contorno {
    border-color: var(--cafe-paulista);
}

.carioca__bola {
    background-color: var(--cafe-carioca);
}

.carioca__contorno {
    border-color: var(--cafe-carioca);
}

.mineiro__bola {
    background-color: var(--cafe-mineiro);
}

.mineiro__contorno {
    border-color: var(--cafe-mineiro)
}

.lista-cafes__titulo{
    font-family: Georgia;
    font-weight: bold;
    font-size: 2.3em;
    margin: 25px 0;
    position: relative;
    left: 30px;
}

.lista-cafes__descricao {
    width: 320px;
    text-align: left;
}

.tipos__botao {
    position: relative;
    left: 570px;
    top: 100px;
    height: 50px;
    width: 170px;
    background-color: var(--fundo-tipos);
    border: solid 3px var(--preto-cabecalho);
    color: var(--preto-cabecalho);
    font-family: Georgia;
    font-size: 1.15em;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s;
}

.carioca {
    margin: 0 90px;
}

/* 5 - Section 4*/

.lista-lojas {
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.lista-lojas__titulo {
    font-family: Georgia;
    font-size: 2.2em;
    font-weight: bold;
    position: relative;
    left: 485px;
    top: -270px;
    color: var(--preto-cabecalho);
}

.lista-lojas__descricao {
    width: 350px;
    font-size: 1.25em;
    position: relative;
    left: 485px;
    top: -250px;
    color: var(--preto-cabecalho);
}

.lista-lojas__img {
    width: 460px;
    height: 260px;
}

.lista-lojas__botao {
    height: 40px;
    width: 140px;
    background-color: white;
    border: solid 3px var(--preto-cabecalho);
    color: var(--preto-cabecalho);
    font-family: Georgia;
    font-size: 1.2em;
    text-transform: uppercase;
    position: relative;
    left: 485px;
    top: -200px;
    transition: 0.3s;
}

#loja-iguatemi {
    margin: -80px 0;
}

/* 6 - Section 5 */

.newsletter {
    background-color: var(--fundo-newsletter);
    width: 100vw;
    height: 17vh;
}

.newsletter__titulo {
    font-family: Georgia;
    font-size: 2.3em;
    color: var(--preto-cabecalho);
    font-weight: bold;
    position: relative;
    left: 200px;
    top: 30px;
}

.newsletter__subtitulo {
    font-family: serif;
    font-size: 1.5em;
    color: var(--preto-cabecalho);
    position: relative;
    left: 200px;
    top: 35px;
}

.newsletter__form {
    display: block;
    border: solid 3.5px var(--preto-cabecalho);
    width: 450px;
    height: 55px;
    position: relative;
    left: 700px;
    top: -30px;
}

.newsletter__input {
    height: 49px;
    width: 290px;
    background-color: var(--fundo-newsletter);
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    font-family: Georgia;
    font-size: 1.5em;
    color: rgb(141, 138, 131);
}


.newsletter__button {
    height: 57px;
    width: 150px;
    border: none;
    position: relative;
    left: 4px;
    top: -2px;
    background-color: var(--preto-cabecalho);
    font-family: Georgia;
    text-transform: uppercase;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}

/* 7 - Footer */

.footer {
    background-color: rgb(216, 212, 201);
    width: 100vw;
    height: 17vh;
}

.footer__creditos , .footer__endereco {
    font-family: Georgia;
    font-size: 1.2em;
    color: var(--preto-cabecalho);
    position: relative;
    left: 200px;
}

.footer__logo {
    position: relative;
    left: 1015px;
}

.footer__creditos {
    position: relative;
    top: 40px;
}

.footer__creditos a {
    text-decoration: none;
    color: var(--preto-cabecalho);
}

.footer__endereco {
    position: relative;
    top: 50px;
}

/* Hovers */

.tipos__botao:hover , .lista-lojas__botao:hover {
    background-color: var(--preto-cabecalho);
    color: white;   
    transition: 0.3s;
    cursor: pointer;
}