/* 0 - Geral */
:root {
    --preto-cabecalho: rgb(32, 32, 32);
    --fundo-tipos: rgb(233, 229, 217);
    --cafe-paulista: rgb(81, 36, 0);
    --cafe-carioca: rgb(217, 114, 50);
    --cafe-mineiro: rgb(232, 167, 68);
    --fundo-newsletter: rgb(233, 229, 217);
}

/* font-family: Georgia, serif */

/* 1 - Header */
header {
    height: 80px;
    width: 100vw;
    background-color: var(--preto-cabecalho);
}

.icon {
    position: relative;
    top: 23%;
    left: 30px;
}

.menu li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
    top: -15px;
    left: 540px;
}

.menu li a {
    font-size: 1.15em;
    font-family: Georgia, serif;
    text-decoration: none;
    color: white;
}

.menu li a:hover{
    border-bottom: solid 3px white;
}

/* 2 - Section 1 */

.inicio {
    background-image: url(../img/bg-intro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 70vh;
}

.inicio__bloco {
    display: block;
    position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
}

.inicio__titulo {
    color: white;
    font-family: Georgia, serif;
    font-size: 3.2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    width: 560px;
}

.inicio__dash {
    display: block;
    height: 4px;
    width: 20px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.inicio__descricao {
    color: white;
    font-family: serif;
    font-size: 1.3em;
    text-align: center;
}

/* 3 - Section 2 */
.cafe {
    display: block;
    width: 70vw;
    margin: 0 auto;
    height: 85vh;;
}

.cafe__titulo {
    text-align: center;
    font-size: 2.3em;
    font-family: Georgia;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
}

.img1__legenda , .img2__legenda {
    display: block;
    background-color: var(--preto-cabecalho);
    height: 35px;
    width: 150px;
    position: relative;
    top: -30px;
    text-align: center;
    font-family: serif;
    font-size: 1.7em;
    color: white;
}

.img1__img {
    height: 170px;
    width: 360px;
}

.img2__img {
    height: 170px;
    width: 360px;
}

.cafe__img1 {
    position: relative;
    left: -50px;
}

.cafe__img2 {
    position: relative;
    left: 350px;
    top: -210px;
}

.cafe__descricao {
    width: 450px;
    margin: 0 auto;
    position: relative;
    top: -200px;
    text-align: center;
    font-family: serif;
    font-size: 1em;
}

/* 4 - Section 3 */
.tipos {
    background-color: var(--fundo-tipos);
    height: 70vh;
}

.lista-cafes{
    width: 90vw;
    margin: 0 auto;
}

.lista-cafes li {
    display: inline-block;
    width: 250px;
    text-align: center;
    position: relative;
    top: 30px;
}

.carioca , .mineiro {
    margin-left: 30px;
}

.lista-cafes__bola {
    display: block;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    margin-top: 5px;
}

.lista-cafes__contorno {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    border: solid 10px;
    position: relative;
    left: 70px;
}

.paulista__bola {
    background-color: var(--cafe-paulista);
}

.paulista__contorno {
    border-color: var(--cafe-paulista);
}

.carioca__bola {
    background-color: var(--cafe-carioca);
}

.carioca__contorno {
    border-color: var(--cafe-carioca);
}

.mineiro__bola {
    background-color: var(--cafe-mineiro);
}

.mineiro__contorno {
    border-color: var(--cafe-mineiro)
}

.lista-cafes__titulo{
    font-family: Georgia;
    font-weight: bold;
    font-size: 1.7em;
    margin: 15px 0;
}

.lista-cafes__descricao {
    width: 280px;
    text-align: left;
    font-size: .9em;
}


.tipos__botao {
    position: relative;
    left: 370px;
    top: 50px;
    height: 40px;
    width: 150px;
    background-color: var(--fundo-tipos);
    border: solid 3px var(--preto-cabecalho);
    color: var(--preto-cabecalho);
    font-family: Georgia;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s;
}

/* 5 - Section 4*/

.lista-lojas {
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.lista-lojas__img {
    height: 65%;
    width: 65%;
}

.lista-lojas__titulo {
    font-family: Georgia;
    font-size: 1.8em;
    font-weight: bold;
    position: relative;
    left: 375px;
    top: -200px;
    color: var(--preto-cabecalho);
}

.lista-lojas__descricao {
    width: 250px;
    font-size: .9em;
    position: relative;
    left: 375px;
    top: -180px;
    color: var(--preto-cabecalho);
}

.lista-lojas__botao {
    height: 40px;
    width: 130px;
    background-color: white;
    border: solid 3px var(--preto-cabecalho);
    color: var(--preto-cabecalho);
    font-family: Georgia;
    font-size: 1.2em;
    text-transform: uppercase;
    position: relative;
    left: 375px;
    top: -140px;
    transition: 0.3s;
}

#loja-iguatemi {
    margin: -80px 0;
}

/* 6 - Section 5 - Newsletter*/

.newsletter {
    background-color: var(--fundo-newsletter);
    width: 100vw;
    height: 17vh;
}

.newsletter__titulo {
    font-family: Georgia;
    font-size: 1.6em;
    color: var(--preto-cabecalho);
    font-weight: bold;
    position: relative;
    left: 150px;
    top: 30px;
}

.newsletter__subtitulo {
    font-family: serif;
    font-size: 1.1em;
    color: var(--preto-cabecalho);
    position: relative;
    left: 150px;
    top: 35px;
}

.newsletter__form {
    display: block;
    border: solid 3.5px var(--preto-cabecalho);
    width: 250px; /* 450 */
    height: 35px; /* 55 */
    position: relative;
    left: 510px;
    top: -10px;
}

.newsletter__input {
    height: 28px;
    width: 130px;
    background-color: var(--fundo-newsletter);
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    font-family: Georgia;
    font-size: 1.1em;
    color: rgb(141, 138, 131);
    position: relative;
    top: -3px;
}


.newsletter__button {
    height: 37px;
    width: 105px;
    border: none;
    position: relative;
    left: 10px;
    top: -2px;
    background-color: var(--preto-cabecalho);
    font-family: Georgia;
    text-transform: uppercase;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}

/* 7 - Footer */

.footer {
    background-color: rgb(216, 212, 201);
    width: 100vw;
    height: 17vh;
}

.footer__creditos , .footer__endereco {
    font-family: Georgia;
    font-size: .9em;
    color: var(--preto-cabecalho);
    position: relative;
    left: 150px;
}

.footer__logo {
    position: relative;
    left: 645px;
}

.footer__creditos {
    position: relative;
    top: 40px;
}

.footer__creditos a {
    text-decoration: none;
    color: var(--preto-cabecalho);
}

.footer__endereco {
    position: relative;
    top: 50px;
}

/* Hovers */

.tipos__botao:hover , .lista-lojas__botao:hover {
    background-color: var(--preto-cabecalho);
    color: white;   
    transition: 0.3s;
    cursor: pointer;
}